.followRecommendations {
    display: flex;
    border: 1px solid black;
    min-width: 600px;
    margin: auto;
    padding: 5px;
}

.followRecommendation {
    width: 33.33%;
    padding: 15px;
}

.followRecommendation img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.followRecommendation h3 {
    margin: 5px;
}